@model FP.Models.Druzyna

@{
    ViewBag.Title = "Kupno";
}

<h2>@Model.Nazwa</h2>
lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumv
lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum

